@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-md-width: 244px;
}

html,
body {
    background-color: theme(backgroundColor.zinc.200);
    color: theme(colors.zinc.950);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1;
}

body {
    overflow-y: visible;
    height: 100%;
    display: block;
    background-color: white;
    color: black;
}

@media (min-width: 1264px) and (max-width: 1919px) {
    .max-width {
        width: var(--nav-md-width);
    }

    .container {
        width: calc(100% - var(--nav-md-width));
    }
}
